﻿@{
    ViewData["Title"] = "About";
}



<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>